## Lists

In [1]:
my_list = ['string', 23.33, 2, 'test']

In [2]:
print (my_list)

['string', 23.33, 2, 'test']

In [3]:
# Number of elements in a list
len(my_list)

4

In [4]:
my_list[:2]

['string', 23.33]

In [5]:
my_list[1:3]

[23.33, 2]

In [6]:
# it does not modify the original list
my_list + ['easy']

['string', 23.33, 2, 'test', 'easy']

In [7]:
# to permanently add an element to a List
my_list = my_list + ['easy']

In [8]:
my_list

['string', 23.33, 2, 'test', 'easy']

In [9]:
# double the elements on the list
my_list * 2

['string', 23.33, 2, 'test', 'easy', 'string', 23.33, 2, 'test', 'easy']

## Basic List Methods

In [10]:
# Create a list
l = [1,2,3]

In [11]:
# Append
l.append(4)
print (l)

[1, 2, 3, 4]

In [12]:
# pop takes an specific element from the list (the default value is to take the last element)
l.pop(3)
popped_item = l.pop(0)
print (l)
print (popped_item)

[2, 3]
1

In [13]:
ll = ['a','b','c']

In [14]:
# Reverse order
ll.reverse()
ll
print (ll)

['c', 'b', 'a']

In [15]:
ll.extend([5,7])
ll

['c', 'b', 'a', 5, 7]

In [16]:
ll.index(5) # it retrieves the index value of the element 5 , not the value in the index 5 position

3

In [17]:
ll.insert(0,17) # 1st value is the position in the list , 2nd value the element to add to the list
ll

[17, 'c', 'b', 'a', 5, 7]

In [18]:
ll.count(17) # count tell you the number of times an object is present in a list

1

In [19]:
ll.reverse()
ll

[7, 5, 'a', 'b', 'c', 17]

In [1]:
a = [1,5,8,3,9,2]

In [4]:
sorted(a) # won't keep the list sorted

[1, 2, 3, 5, 8, 9]

In [3]:
a

[1, 5, 8, 3, 9, 2]

In [5]:
a.sort() # this will act on the list
a

[1, 2, 3, 5, 8, 9]

In [ ]:
ll.remove('c')
ll

In [ ]:
ll.clear() # removes all elements from the list
ll

## Nesting List

Python supports nesting, which means to have data structures within data structures, Ex: a List inside a list

Rules:
    1. Indexing rules: you must indicate 1st the index number of the outer list and continue indicating the index number of the subsequent lists within lists

In [ ]:
# Let us make 3 lists

l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

matrix = [l1,l2,l3]
print (matrix)

In [ ]:
matrix

In [ ]:
matrix[1][1]

## List Comprehension

It is a compacted way to write a for loop in a line of code

In [ ]:
# Grab every letter in string
lst = [x for x in 'word']
print (lst)

In [ ]:
# Square numbers in range and turn into list
lst2 = [x**2 for x in range(0,11)]
print (lst2)

In [ ]:
# Check for even numbers in a range
lst3 = [x for x in range(11) if x % 2 == 0]
print (lst3)

The following it is probably the reachest example

Consider the list comprehension a formula that you define and once you define you make Python apply it to all the elements in a range, see below:

In [ ]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

print (fahrenheit)

List comprehension allows the use of nested expressions

In [ ]:
lst4 = [ x**2 for x in [x**2 for x in range(11)]]
print (lst4)

In [ ]:
colors = ['black','white']
sizes = ['S','M','L']

In [ ]:
tshirts = [(color,size) for color in colors for size in sizes]
print (tshirts)

In [6]:
from math import sqrt
# this step is the same as before
mx = 10
legs = [(a, b, sqrt(a**2 + b**2))
    for a in range(1, mx) for b in range(a, mx)]
# here we combine filter and map in one CLEAN list comprehension
legs = [(a, b, int(c)) for a, b, c in legs if c.is_integer()]

print(legs)  # prints: [(3, 4, 5), (6, 8, 10)]

[(3, 4, 5), (6, 8, 10)]

In [8]:
from math import sqrt

mx = 10
legs = [(a, b, sqrt(a**2 + b**2))
    for a in range(1, mx) for b in range(a, mx)]
legs = filter(lambda triple: triple[2].is_integer(), legs)

# this will make the third number in the tuples integer
legs = list(
    map(lambda triple: triple[:2] + (int(triple[2]), ), legs))

print(legs)  # prints: [(3, 4, 5), (6, 8, 10)]

[(3, 4, 5), (6, 8, 10)]

In [9]:
from math import sqrt

# this will generate all possible pairs
mx = 10
legs = [(a, b, sqrt(a**2 + b**2))
    for a in range(1, mx) for b in range(a, mx)]
# this will filter out all non pythagorean triples
legs = list(
    filter(lambda triple: triple[2].is_integer(), legs))

print(legs)  # prints: [(3, 4, 5.0), (6, 8, 10.0)]

[(3, 4, 5.0), (6, 8, 10.0)]

In [10]:
items = 'ABCDE'
pairs = [(items[a], items[b])
    for a in range(len(items)) for b in range(a, len(items))]

print(pairs)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('A', 'D'), ('A', 'E'), ('B', 'B'), ('B', 'C'), ('B', 'D'), ('B', 'E'), ('C', 'C'), ('C', 'D'), ('C', 'E'), ('D', 'D'), ('D', 'E'), ('E', 'E')]

In [ ]:
sq1 = list(
    filter(lambda n: not n % 2, map(lambda n: n ** 2, range(10)))
)

# equivalent, but using list comprehensions
sq2 = [n ** 2 for n in range(10) if not n % 2]

print(sq1, sq1 == sq2)  # prints: [0, 4, 16, 36, 64] True

### When not to use list comprehension

In [11]:
s1 = sum([n**2 for n in range(10**6)])
s2 = sum((n**2 for n in range(10**6)))
s3 = sum(n**2 for n in range(10**6))

print(s1==s2==s3)

# Difference between an iterator and creating a list
# Python wont be able to hold to many values in memory is a list is created

s = sum([n**2 for n in range(10**8)])  # this is killed
s = sum(n**2 for n in range(10**8))  # this succeeds

print(s)  # prints: 333333328333333350000000

True
333333328333333350000000

## Sorting complex list

In [22]:
from operator import itemgetter

In [23]:
a = [(5,3),(1,3),(1,2),(2,-1),(4,9)]

In [24]:
sorted(a)

[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]

In [25]:
sorted(a, key=itemgetter(0))

[(1, 3), (1, 2), (2, -1), (4, 9), (5, 3)]

In [26]:
sorted(a, key=itemgetter(0,1))

[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]

In [27]:
sorted(a, key=itemgetter(1))

[(2, -1), (1, 2), (5, 3), (1, 3), (4, 9)]

In [28]:
sorted(a, key=itemgetter(1),reverse=True)

[(4, 9), (5, 3), (1, 3), (1, 2), (2, -1)]