## Tuples

Tuples are very similar to a list with the difference that they are **immutable**. 
Tuples are used for those things that should not be changed.

In [105]:
t = (1,2,3)

In [108]:
# As you can see you can use most of what you have learned so far
print len(t)
print t[0]
print t[-1]

3
1
3

In [109]:
# find the the index location of a value
print t.index(1)
# Find the number of times a value appears in the tuple
print t.count(2)

0
1

## Using * to grab excess items

In [9]:
a, b, *rest = range(5) # the use of * allows to grab multiple elements under 1 variable

In [8]:
a,b,rest

(0, 1, [2, 3, 4])

## namedtuple

Why to use Named Tuples? 

Remembering which index should be used for each value can lead to errors, especially if you have a long list of variables or you add new variables over time. 

A namedtuple assigns names, as well as the numerical index, to each member. 

Each kind of namedtuple is represented by its own class, created by using the namedtuple() factory function. 

The arguments are the name of the new class and a string containing the names of the elements.

Namedtuples as a very quick way of creating a new object/class type with some attribute fields.

In [10]:
from collections import namedtuple

In [13]:
Dog = namedtuple('Dog','age breed name')

sam = Dog(age=2,breed='Lab',name='Sammy') # assigning values, establishing variable name

frank = Dog(age=2,breed='Shepard',name="Frankie") 

bobby = Dog(3, 'Salchicha', 'bobby') # assigning values, without using variable name

Rules:

        1.Pass object type name (Dog)
        2.Pass string with the variety of fields **as a string with spaces between the field names**

In [7]:
sam.age

2

In [8]:
sam[0]

2

In [12]:
bobby.age

3

In [13]:
city, year, pop = ('Tokyo', 2003, 3000000)

In [14]:
city

'Tokyo'

In [2]:
mapa = ('America','Africa','Europe','Asia','Oceania')

In [5]:
cont1, cont2, cont3, cont4, cont5 = mapa # Tuple unpacking

In [4]:
cont1

'America'

### Pro Tip ---> Refer to objects by name rather than by position

In [3]:
# Let us say that vision is a variable that stores the data about the left and right eye of a patient.

vision = (9.5, 8.8)

In [4]:
vision[1]

8.8

In [6]:
# Let us say that in one future moment in time the doctor decides to start storing left, combined, right data.....

# Houston we have a problem !!!

# let us do the same with namedtuples

In [8]:
from collections import namedtuple

In [9]:
Vision = namedtuple('Vision', 'left right')

In [16]:
client1 = Vision(9.5,8.8)

In [17]:
client1[0]

9.5

In [18]:
Vision = namedtuple('Vision', 'left combined right')

In [19]:
client2 = Vision(9.5,9.2,8.8)

In [20]:
client2.right

8.8

In [21]:
client2[0]

9.5

In [23]:
client2.combined

9.2